* {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    display:flex;
    justify-content: space-between;
    
}

.box {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.one {
    justify-self: flex-start;
    margin: 20px 20px 0 0;
    font-weight: 800;
    font-size:xx-large
    
}

.one img {
    height: 1em; 
    width: auto; 
    vertical-align: middle;
    margin: 0 0.1em; 
    


}

.box div {
    margin: 20px;
    font-weight: 500;
    font-size:16 px;
    padding-left: 25;
    padding-right: 25;
    display:flex;
    
}

.download {
    background-color: white;
    display: inline-block;
    background-image: linear-gradient(white, white);
    padding: 12px 20px;
    margin-left: 25px;
    margin-right:100px;
    height: 46px;
    width: 110.56px;
    border: 1px solid black;
    align-self: center;
   

}

* {
    background-color: #fdf6e2;
    background-image:url(images/hero-left.png),url(images/hero-right.png);
    background-position: left bottom,right top;
    background-size: 300px 255px,305px 285px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container2 {
    border-radius: 4px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.The {
    border-radius: 4px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 56px;
    margin: 0 319.5px;
    
}

.How {
    border-radius: 4px solid red;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin-top: 65px;
    margin-bottom: 45px;
}

.pics {
    border-radius: 4px solid red;
    display: flex;
    width: 854.828px;
    height: 87px;
    margin: 100px 20px 159.086px 159.086px;
    justify-content: space-evenly;

}

.icon {
    border-radius: 4px solid red;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 60px;
    font-size: 14px;
    font-weight: bold;


}

.icon img{
    height:7em;
    width: auto;
    justify-self: center;
}

#find img {
    height:5em;
    margin: 1em auto;
}

.Best {
    margin-top: 70px;
}